
footer{
    background-color: #faf2e7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    

}

footer div {
    
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

footer ul li {
    display: block;
    margin-top: 5px;
    list-style: none;
    
}

footer ul li:hover{
    background-color: rgb(143, 130, 238) ;
    border-radius: 10px;
    transition: 300ms;
}

footer div a{
    text-decoration: none;
}

.Redes{
    width: 30px;
    
    
}
.footerRedes{
    list-style: none;
}