$verde :#5ba39a;

#mainTienda{
    background-color: #e5d6c6;
    position:relative

    
}

#mainTienda h1 {
    color: #f86095;
    font-size: 40px;
    text-align: center;
    
}

.TiendaNueva{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 30px;
    grid-template-areas: 
    "tiendaInfo1 tiendaInfo2 tiendaInfo3 tiendaInfo4"
    "tiendaInfo5 tiendaInfo6 tiendaInfo7 tiendaInfo8"
    "tiendaInfo9 tiendaInfo10 tiendaInfo11 tiendaInfo12"
    "tiendaInfo13 tiendaInfo14 tiendaInfo15 tiendaInfo16"
    ;
    border: 2px dashed cadetblue;
    margin: 30px;
}

.tiendainfo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed 1px cadetblue;

    a {
        text-decoration: none;
        font-size: 25px;
    }

}


.tiendainfo a:hover {
    background-color: $verde;
    border-radius: 20px;
    padding: 10px;
    transition: 200ms;
}

.tiendaInfo1{
    grid-area: tiendaInfo1;
}
.tiendaInfo2{
    grid-area: tiendaInfo2;
}
.tiendaInfo3{
    grid-area: tiendaInfo3;
}
.tiendaInfo4{
    grid-area: tiendaInfo4;
}
.tiendaInfo5{
    grid-area: tiendaInfo5;
}
.tiendaInfo6{
    grid-area: tiendaInfo6;
}
.tiendaInfo7{
    grid-area: tiendaInfo7;
}

.tiendaInfo8{
    grid-area: tiendaInfo8;
}

.tiendaInfo9{
    grid-area: tiendaInfo9;
}

.tiendaInfo10{
    grid-area: tiendaInfo10;
}

.tiendaInfo4{
    grid-area: tiendaInfo4;
}

.tiendaInfo11{
    grid-area: tiendaInfo11;
}

.tiendaInfo12{
    grid-area: tiendaInfo12;
}

.tiendaInfo13{
    grid-area: tiendaInfo13;
}

.tiendaInfo14{
    grid-area: tiendaInfo14;
}

.tiendaInfo15{
    grid-area: tiendaInfo15;
}
.tiendaInfo16{
    grid-area: tiendaInfo16;
}