
@use "header";
@use "footer";
@use "nosotros";
@use "contactanos";
@use "clientes";
@use "tienda";

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@300&display=swap');


$verde :#5ba39a;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
font-family: 'Roboto Mono', monospace;

}

/*============================= HEADER ============*/





/*============================= MAIN============*/

main{
    min-height: 100vh;
}
.mainIndex{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
}

.container-fluid{
    display: none;
}

.mainButtons{
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
    .mainButtons_links{
        display: flex;
        margin: 30px 30px 30px 30px;
        background-color: $verde;
        padding: 30px;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
    
        a{
            color: rgb(0, 0, 0);
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        }
    }
}


.mainButtons  :hover{
    background-color: rgb(143, 130, 238);
}

.dropdown{
    display: none;
}



.tituloYParrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titulo{
        background-color: $verde;
        width: 30%;
        border-radius: 20px;
        padding: 20px;
        margin-top: 30px;
        .titulo-h1{
            display: flex;
            justify-content: center;
            
        }
        
    }
    
    .mainButtons_parrafo{
        background-color: rgba(38, 126, 202, 0.814);
        border-radius: 20px;
        padding: 10px;
        margin: 100px 30px 30px 30px;
        width: 60%;
        color: rgb(0, 0, 0);
    }
}



/*=================== MEDIAQueries =====================*/

@media (max-width:768px){
    .titulo-h1 {
        font-size: 20px;
    }

    .dropdown{
        display: contents;
    }
    
    nav{
        display: none
    }

    .footerLinks{
        display: none;
    }
    
    .footerRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .boxCard{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        ;
        margin:20px;
        gap:40px;

    }

    .presentacion{
        display: flex;
        flex-direction: column;
    }
    
    .presentacion_cajas {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .presentacion h2{
        background-color: $verde;
        border-radius: 20px;
        padding: 20px;
        color: rgb(0, 0, 0);
    }


}

@media (max-width:375px){
    .titulo-h1{
        font-size: 13px;
    }
    .titulo{
        width: 100%;
        padding: 10% 20%;
    }
    .mainIndex {
        min-height: 170vh;
    }
}









/*============================= FOOTER============*/

/*============================= Barras de links============*/

header nav ul li a, footer div ul li a {
    text-decoration: none;
    margin: 20px
}





/*============================= PAGINA NOSOTROS ============*/ 


/*============================= PAGINA Contactanos ============*/





/*============================= PAGINA Clientes ============*/


/*============================= PAGINA TIENDA NUEVA============*/






